<h2 class="heading_indent">
PRESS
</h2>
<% if(@press_items.count > 0) then %>
<% @press_items.each do |press_item| %>
    <div class="press_item">
        <span class="pi_title">
                        <a href="<%= press_item.link %>"><%= press_item.title %></a> /
        </span>
        <span class="pi_publ">
                        <%= press_item.publication %> /
        </span>
        <span class="pi_date">
			<%= press_item.date.to_date %>
		</span>
    </div>
<% end %>
<br />
<br />
<br />
<br />
<% else %>
<br />
<br />
  <h4 style="text-align:center">This part of the website is currently under construction.</h4>
<br />
<br />
<br />
<br />
<% end %>
