<div class="field">
  <% if(f.object.photo?) %>
  <%= image_tag f.object.photo.url(:small) %>
  <% end %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <% if(f.object.photo?) %>
  <%= link_to 'Destroy', f.object, confirm: 'Are you sure?', method: :delete %>
  <% end %>
</div>
