<div class="pt_bot_li_title">
  <a href="#" onclick="return false;" return false;><%= title %></a>
</div>
<div>
  <ul class="proj_list_col">
    <li class="no_tri">
    <span class="pl_head_title">
    </span>
    <span class="pl_head_last">
      STATUS
    </span>
    </li>
      <%= render :partial => "project", :collection => collection %>
  </ul>
</div>
