<div class="pt_bot_li_title">
  <a href="#" onclick="return false;" return false;><%= title %></a>
</div>
<div>
  <ul class="proj_list_col">
      <% if(collection.size > 0) then %>
      <%= render :partial => "project", :collection => collection %>
      <% else %>
      <%= "coming soon" %>
      <% end %>
  </ul>
</div>
