<div style="float:left;">
  <ul class="proj_list_col">
    <li class="no_tri">
    <span class="pl_head_title">
    </span>
    <span class="pl_head_last">
      STATUS
    </span>
    </li>
    <% if(collection.size == 0) then  %>
      Coming Soon
    <% else %>
      <%= render :partial => "project", :collection => collection %>
    <% end %>
  </ul>
</div>
