<li>
    <span class="pl_li_title">
      <%= link_to project.title, project %>
    </span>
    <span class="pl_li_last">
      <%= project.status %>
      <% if(current_admin) %>
        <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </span>
</li>
