<h2 class="heading_indent">
ALFA PROJECTS
</h2>
<%= raw @narrative.body if @narrative.body %>

<div class="left_p">
<%= render :partial => 'projects/accordion', :locals => {:class_wrapper => "pl_white_backg"} %>
<%# @projects.each do |project| %>
  <!--
  <tr>
    <td><%#= project.title %></td>
    <td><%#= project.description %></td>
    <td><%#= project.status %></td>
    <td><%#= project.city %></td>
    <td><%#= project.state %></td>
    <td><%#= project.zip %></td>
    <td><%#= link_to 'Show', project %></td>
    <td><%#= link_to 'Edit', edit_project_path(project) %></td>
    <td><%#= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  -->
<% # end %>
</div>
<br />
