<h3>
Alfa Projects
</h3>
<p  class="proj_p">
With over $350 million in real-estate development projects across a spectrum of residential, hospitality, commercial & community projects, Alfa Development has positioned itself as the forefront boutique developer in Downtown New York City. Constantly defining trends, Alfa’s projects continue to innovate and guide the fields of architecture, project marketing and sustainable building.
</p>
<%= render :partial => 'projects/accordion', :locals => {:class_wrapper => "pl_white_backg"} %>
<%# @projects.each do |project| %>
  <!--
  <tr>
    <td><%#= project.title %></td>
    <td><%#= project.description %></td>
    <td><%#= project.status %></td>
    <td><%#= project.city %></td>
    <td><%#= project.state %></td>
    <td><%#= project.zip %></td>
    <td><%#= link_to 'Show', project %></td>
    <td><%#= link_to 'Edit', edit_project_path(project) %></td>
    <td><%#= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  -->
<% # end %>
<br />
<% if(current_admin) %>
<div class="admin-actions">
<%= link_to 'New Project', new_project_path %>
</div>
<% end %>






