<h3>
  Projects
</h3>
<p  class="proj_p">
Accum dolor acillaor ing etummy nulputa tuerci blaorting eugait nos dit praessectet, quis alit nit nonullam dionum zzriure dit vulpute dunt adit et dolore dolor ad duissim velisi tet la facip erilisi.
</p>
<%= render :partial => 'projects/accordion', :locals => {:class_wrapper => "pl_white_backg"} %>
<%# @projects.each do |project| %>
  <!--
  <tr>
    <td><%#= project.title %></td>
    <td><%#= project.description %></td>
    <td><%#= project.status %></td>
    <td><%#= project.city %></td>
    <td><%#= project.state %></td>
    <td><%#= project.zip %></td>
    <td><%#= link_to 'Show', project %></td>
    <td><%#= link_to 'Edit', edit_project_path(project) %></td>
    <td><%#= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  -->
<% # end %>
<br />
<% if(current_admin) %>
<%= link_to 'New Project', new_project_path %>
<% end %>






