<p>
Renowned in downtown Manhattan for developing innovative and remarkable properties, Alfa has built a reputation for being “hands-on builders,” actively involved in every facet of their propertiesʼ development.
</p>

<p>
Comprised of longtime residents of the downtown Manhattan area, the Alfa Development team has firsthand knowledge of the downtown experience. Always mindful of how their buildings will become part of the fabric of their community, Alfaʼs guiding principle is best articulated by the theme line: “History, architecture, and sustainability on a human scale.” With an aesthetic attuned to the unique harmonies of each neighborhood, their buildings combine architecturally contextual exteriors with the most finely appointed modern interiors.
</p>
