<div id="footer">
  <div id="footer_top_a" class="">
    <img name="foot_top_a" src="/images/foot_top_a.gif" width="1024" height="391" border="0" id="foot_top_a" alt="" />
    </div><div id="footer_bottom" style=" width:1024px; text-align:right; color:#666666; font-size:11px;  text-transform:capitalize;">
    <p style="padding-right:60px; margin:4px 0px; font-weight:600;font-size: 11px">
    ©2012 alfa development/management LLC 15 West 18th Street Street Suite 200 New York, NY 10011 Tel: (212)206-7820 Fax: (212)242-0055
    </p>
  </div>
</div>
