<div id="header">
  <div id="hd_main_row" style="">
    <div id="hd_logo" style="">
      <a href="/"><img name="logo" src="/images/logo.gif" width="300" height="60" border="0" id="logo" alt="" /></a>
    </div>
    <div id="hd_nav_bar" style="">
      <ul class="hori_nav_bar">
        <li><a href="/about">about us</a></li>
        <li><a href="/team">team</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/press">press</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
    <div id="hd_tagline" style="">
      <p style="">
      HISTORY ARCHITECTURE<br />
      & Sustainability on a human scale
      </p>
    </div>
  </div>
</div>
