<h3 class="heading_indent">TEAM</h3>
<% @members.each do |member| %>
<div class="tm_member">
  <div class="tm_desc_wrap">
    <h5 class="tm_member_h5">
      <span class="member-name"><%= member.name %></span>, <%= member.title %>
    </h5>
    <div style="margin-top:-20px">
    <%= raw member.bio %>
    </div>
  </div>
</div>
<% end %>
<br />
